
.container-fluid{    
    background-color: rgb(231, 204, 169);   
}

header{
    background-color: rgb(233, 184, 121);
    text-align:center;
    padding: 30px;
}

.form-control{
    margin-bottom: 10px;
}

footer{
    background-color: bisque;
    margin-top: 420px;
}